html,body {height:100%;width:100%;margin:0;padding:0;font-family:Georgia,serif;color:#aaa;background:#2a2f3a;}

#map {width:100%;height:100%;margin:0;padding:0px;}
div.maplibregl-popup-content {max-height:400px; overflow-y:auto;}
